<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Open Careers</title>
    <style>
        #banner{
            height: 360px;
            object-fit: cover;
            width: 100%
        }
    </style>
</head>
<body>
     <div class="container">
    <h1 class="text-center mt-2 mb-4">
        {{company_name}} Careers
    </h1>
    <img id="banner" src="file:///C:/Users/Munish/Playground/flask-web/static/open.jpg">
    <h2 class="text-center mt-4">About open careers</h2>
    <p class="lead">At Open careers, we understand that finding the right job can be challenging. That's why we've created a user-friendly platform that allows you to search for job openings tailored to your skills, experience, and career aspirations. Our advanced search filters and personalized job recommendations make it easy to find opportunities that align with your goals. Create a profile, upload your resume, and apply to jobs with just a few clicks. Join our community and take the next step in your professional journey.</p>
    <h2 class="text-center mt-2 mb-4">Open position</h2>
    <p>
        {% for job in jobs %}
            {% include 'jobitem.html' %}
        {% endfor %}
    </p>
    <div class="text-center">
    <button class="btn btn-primary btn-lg">Contact Us</button>
    <p class="fst-italic">Copyright 1911,Trade center
    </p>
    </div>
</body>
</html>